.mouse::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #94a3b8;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 25px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 25px;
  }
}
