/* Cursor Blob CSS */

.blob-cursor__bg {
  opacity: 1;
  -webkit-filter: blur(120px);
  filter: blur(120px);
  -webkit-animation: blobAnimation 2s Linear Infinite;
  animation: blobAnimation 2s Linear Infinite;
}

@keyframes moveCursor1 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.8);
  }
}
@-webkit-keyframes blobAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blobAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 91vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
}

.box {
  scroll-snap-align: start;
}
